@import "tailwindcss";

@theme {
    /* sfondo */
    --color-bg: var(--color-slate-900);
    --color-bg-2: var(--color-slate-800);
    --color-bg-3: var(--color-slate-700);
    --color-bg-4: var(--color-slate-600);
    --color-bg-5: var(--color-slate-500);
    --color-border-default: var(--color-slate-600);
    /* card */
    --color-bg-card: var(--color-slate-800);
    /* input */
    --color-bg-input: var(--color-slate-700);
    /* palette */
    /* - primary */
    --color-primary: var(--color-sky-400);
    --color-primary-hover: var(--color-sky-500);
    --color-primary-light: var(--color-sky-300);
    /* - secondary */
    --color-secondary: var(--color-blue-700);
    --color-secondary-hover: var(--color-blue-800);
    --color-secondary-light: var(--color-blue-500);
    /* - muted */
    --color-muted: var(--color-slate-600);
    --color-muted-hover: var(--color-slate-500);
    /* testo */
    --color-text: var(--color-white);
    --color-text-1: var(--color-slate-50);
    --color-text-2: var(--color-slate-100);
    --color-text-3: var(--color-slate-200);
    --color-text-4: var(--color-slate-300);
    --color-text-muted: var(--color-slate-400);
}

/* Setup Globale */
body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
}
